/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* COMMON */
.container{
    width: 70%;
    max-width: 1400px;
    margin: 0 auto;

    border: 2px solid black;
    height: 800px;
}

header{
    height: 80px;
    margin-bottom: 2em;
    background-color: blueviolet;
}